@import './decimals';

@mixin fonts($fs, $lh, $fw: 400) {
    font-weight: $fw;
    font-size: $fs;
    line-height: decimal-round($lh / $fs);
}

@mixin flex-basis($indent, $item) {
    flex-basis: calc((100% - #{$indent} * (#{$item} - 1)) / #{$item});
}

@mixin media-query($range) {

    @if $range==mobile-less {
        @media (max-width:#{$mobile - 0.02}) {
            @content;
        }
    }

    @if $range==mobile {
        @media screen and (min-width: $mobile) {
            @content;
        }
    }

    @if $range==mobile-only {
        @media (min-width:$mobile) and (max-width:#{$tablet - 0.02}) {
            @content;
        }
    }

    @if $range==tablet-less {
        @media (max-width:#{$tablet - 0.02}) {
            @content;
        }
    }

    @if $range==tablet {
        @media screen and (min-width: $tablet) {
            @content;
        }
    }

    @if $range==tablet-only {
        @media (min-width:$tablet) and (max-width:#{$desktop - 0.02}) {
            @content;
        }
    }

    @if $range==desktop {
        @media screen and (min-width: $desktop) {
            @content;
        }
    }

    @if $range==desktop-less {
        @media (max-width:#{$desktop - 0.02}) {
            @content;
        }
    }
}