<section class="section customer" id="customer">
  <div class="container">
    <h2 class="section__title">What our Customers Say</h2>
    <p class="customer__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="review">
      <li class="review__item">
        <div class="review__stars">
          <!-- <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg>
          <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg>
          <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg>
          <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg>
          <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg> -->
        </div>
        <p class="review__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="person">
          <img class="person__img" alt="" />
          <p class="person__name">Sumith Shah</p>
          <p class="person__desk">Some Dude</p>
        </div>
      </li>
      <li class="review__item">
        <div class="review__stars">
          <!-- <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg>
          <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg>
          <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg>
          <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg>
          <svg class="review__icon" width="" height="">
            <use href=""></use>
          </svg> -->
        </div>
        <p class="review__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="person">
          <img class="person__img" alt="" />
          <p class="person__name">Sumith Shah</p>
          <p class="person__desk">Some Dude</p>
        </div>
      </li>
    </ul>
  </div>
</section>
