<section class="section customer" id="customer">
  <div class="container">
    <h2 class="section__title customer__title">What our Customers Say</h2>
    <p class="customer__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="review">
      <li class="review__item">
        <div class="review__stars">
         <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
        </div>
        <p class="review__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="person">
          <img class="person__img" src="./images/customers/Dude1-48@1x.png" alt="Dude1" />
          <div>
            <p class="person__name">Sumith Shah</p>
          <p class="person__desk">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="review__item">
        <div class="review__stars">
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
          <svg class="review__icon" width="17.24" height="16">
            <use href="./images/icon.svg#star"></use>
          </svg>
        </div>
        <p class="review__text">
          “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”
        </p>
        <div class="person">
          <img class="person__img" src="./images/customers/Dude2-48@1x.png" alt="Dude2" />
         <div>
          <p class="person__name">Sumith Shah</p>
          <p class="person__desk">Some Dude</p>
         </div>
        </div>
      </li>
      </li>
    </ul>
  </div>
</section>
