<section class="section favorites" id="favorites">
  <div class="container">
    <h2 class="section__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <div class="favorites__wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.webp 1x,
                ./images/favorites/img-1@2x_lg.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.png 1x,
                ./images/favorites/img-1@2x_lg.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.webp 1x,
                ./images/favorites/img-1@2x_md.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.png 1x,
                ./images/favorites/img-1@2x_md.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.webp 1x,
                ./images/favorites/img-1@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.png 1x,
                ./images/favorites/img-1@2x_sm.png 2x
              "
              type="image/png"
            />
            <img src="./images/favorites/img-1@1x_sm.png" alt="food1" />
          </picture>
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.webp 1x,
                ./images/favorites/img-1@2x_lg.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.png 1x,
                ./images/favorites/img-1@2x_lg.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.webp 1x,
                ./images/favorites/img-1@2x_md.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.png 1x,
                ./images/favorites/img-1@2x_md.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.webp 1x,
                ./images/favorites/img-1@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.png 1x,
                ./images/favorites/img-1@2x_sm.png 2x
              "
              type="image/png"
            />
            <img src="./images/favorites/img-1@1x_sm.png" alt="food1" />
          </picture>
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.webp 1x,
                ./images/favorites/img-1@2x_lg.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.png 1x,
                ./images/favorites/img-1@2x_lg.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.webp 1x,
                ./images/favorites/img-1@2x_md.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.png 1x,
                ./images/favorites/img-1@2x_md.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.webp 1x,
                ./images/favorites/img-1@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.png 1x,
                ./images/favorites/img-1@2x_sm.png 2x
              "
              type="image/png"
            />
            <img src="./images/favorites/img-1@1x_sm.png" alt="food1" />
          </picture>
        </div>
      </li>
      <li class="favorites__item favorites__item--none">
        <div class="favorites__wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.webp 1x,
                ./images/favorites/img-1@2x_lg.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.png 1x,
                ./images/favorites/img-1@2x_lg.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.webp 1x,
                ./images/favorites/img-1@2x_md.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.png 1x,
                ./images/favorites/img-1@2x_md.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.webp 1x,
                ./images/favorites/img-1@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.png 1x,
                ./images/favorites/img-1@2x_sm.png 2x
              "
              type="image/png"
            />
            <img src="./images/favorites/img-1@1x_sm.png" alt="food1" />
          </picture>
        </div>
      </li>
      <li class="favorites__item favorites__item--none">
        <div class="favorites__wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.webp 1x,
                ./images/favorites/img-1@2x_lg.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.png 1x,
                ./images/favorites/img-1@2x_lg.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.webp 1x,
                ./images/favorites/img-1@2x_md.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.png 1x,
                ./images/favorites/img-1@2x_md.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.webp 1x,
                ./images/favorites/img-1@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.png 1x,
                ./images/favorites/img-1@2x_sm.png 2x
              "
              type="image/png"
            />
            <img src="./images/favorites/img-1@1x_sm.png" alt="food1" />
          </picture>
        </div>
      </li>
      <li class="favorites__item favorites__item--none">
        <div class="favorites__wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.webp 1x,
                ./images/favorites/img-1@2x_lg.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/img-1@1x_lg.png 1x,
                ./images/favorites/img-1@2x_lg.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.webp 1x,
                ./images/favorites/img-1@2x_md.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1@1x_md.png 1x,
                ./images/favorites/img-1@2x_md.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.webp 1x,
                ./images/favorites/img-1@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/favorites/img-1@1x_sm.png 1x,
                ./images/favorites/img-1@2x_sm.png 2x
              "
              type="image/png"
            />
            <img src="./images/favorites/img-1@1x_sm.png" alt="food1" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
