<footer class="footer" id="footer">
  <div class="container footer_container">
    <a class="logo footer__logo" href="">
      <img class="logo__icon" src="./images/logo.svg" alt="logo" />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="">About</a></li>
        <li class="nav__item"><a class="nav__link" href="">Service</a></li>
        <li class="nav__item"><a class="nav__link" href="">Menu</a></li>
        <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
      </ul>
    </nav>
    <div class="subscribe">
      <h3 class="subscribe__text">Subscribe</h3>
      <form class="form" name="footer-form">
        <input
          class="form__email"
          name="user-mail"
          type="email"
          placeholder="Enter your email"
        />
        <button class="form__btn" type="submit">Subscribe</button>
      </form>
      <p class="subscribe__privacy">
        By subscribing you agree to with our
        <a class="privacy__link" href="">Privacy Policy</a>
      </p>
    </div>
  </div>

  <div class="container agreement">
    <a class="agreement__link" href="">Privacy Policy</a>
    <a class="agreement__link" href="">Terms of Service</a>
    <a class="agreement__link" href="">Cookies Settings</a>

    <p class="">2022 FoodSta. All right reserved.</p>
  </div>
</footer>
