<footer class="footer" id="footer">
  <div class="container section">
    <div class="footer_container">
      <a class="logo header__logo logo__footer" href="">
        <img
          class="logo__icon footer__logo"
          src="./images/logo.svg"
          alt="logo"
        />
      </a>
      <nav class="nav footer__nav">
        <ul class="nav__list footer__list">
          <li class="nav__item footer__item">
            <a class="nav__link" href="#hero">Home</a>
          </li>
          <li class="nav__item footer__item">
            <a class="nav__link" href="#offerings">About</a>
          </li>
          <li class="nav__item footer__item">
            <a class="nav__link" href="#customer">Service</a>
          </li>
          <li class="nav__item footer__item">
            <a class="nav__link" href="#favorites">Menu</a>
          </li>
          <li class="nav__item footer__item">
            <a class="nav__link" href="#subscribe">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="subscribe-footer">
        <h3 class="subscribe-footer__text">Subscribe</h3>
        <form class="form" name="footer-form">
          <div class="subscribe__error">
            <input
              class="form__email"
              name="user-mail"
              type="email"
              placeholder="Enter your email"
              required
            />
            <label class="subscribe-footer__alert">
              <svg class="subscribe-footer__alert-icon" width="11" height="11">
                <use href="./images/icon.svg#alert"></use>
              </svg>
              <span class="subscribe-footer__alert-text">Not a valid email address (example@email.com)</span
              >
            </label>
          </div>
          <button class="form__btn" type="submit">Subscribe</button>
        </form>

        <p class="subscribe-footer__privacy">
          By subscribing you agree to with our
          <a class="privacy__link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="agreement">
      <ul class="agreement__list">
        <li class="agreement__item">
          <a class="agreement__link" href="">Privacy Policy</a>
        </li>
        <li class="agreement__item">
          <a class="agreement__link" href="">Terms of Service</a>
        </li>
        <li class="agreement__item">
          <a class="agreement__link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="agreement__text">2022 FoodSta&#169; All right reserved.</p>
    </div>
  </div>
</footer>
