<header class="header" id="header">
  <div class="container header_conteiner">
    <a class="logo" href="">
      <img class="logo-img" alt="logo FoodSta" width="72" height="52" />
    </a>
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item"><a class="nav_link link" href="">About</a></li>
        <li class="nav_item"><a class="nav_link link" href="">Home</a></li>
        <li class="nav_item"><a class="nav_link link" href="">Service</a></li>
        <li class="nav_item"><a class="nav_link link" href="">Menu</a></li>
        <li class="nav_item"><a class="nav_link link" href="">Contact</a></li>
      </ul>
    </nav>

    <button class="header_btn" type="button">Order Now</button>
  </div>
</header>
