<header class="header" id="header">
  <div class="container header_container">
    <a class="logo" href="">
      <img class="logo-img" alt="logo FoodSta" width="72" height="52" />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="">About</a></li>
        <li class="nav__item"><a class="nav__link" href="">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="">Service</a></li>
        <li class="nav__item"><a class="nav__link" href="">Menu</a></li>
        <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
      </ul>
    </nav>

    <button class="header_btn" type="button">Order Now</button>
  </div>
</header>
