<header class="header" id="header">
  <div class="container header_container">
    <a class="logo" href="">
      <svg class="logo__icon" width="70" height="51" aria-label="logo FoodSta">
        <use href="./images/logo.svg"></use>
      </svg>
    </a>
    <button class="mob-menu__btn" type="button" data-menu-open data-menu-close>
      <svg class="mob-menu__icon" width="28" height="28">
        <use href="./images/icon.svg#mob-menu-button"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="">About</a></li>
        <li class="nav__item"><a class="nav__link" href="">Service</a></li>
        <li class="nav__item"><a class="nav__link" href="">Menu</a></li>
        <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
      </ul>
    </nav>

    <button class="header_btn" type="button">Order Now</button>
  </div>

  <div class="menu-overlay" data-menu>
    <div class="menu-container">
      <nav class="nav menu__nav">
        <ul class="nav__list menu__list">
          <li class="nav__item menu__item">
            <a class="nav__link" href="">Home</a>
          </li>
          <li class="nav__item menu__item">
            <a class="nav__link" href="">About</a>
          </li>
          <li class="nav__item menu__item">
            <a class="nav__link" href="">Service</a>
          </li>
          <li class="nav__item menu__item">
            <a class="nav__link" href="">Menu</a>
          </li>
          <li class="nav__item menu__item">
            <a class="nav__link" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<script src="./menu.js"></script>
