<section class="section hero" id="hero">
  <div class="container hero-main">
    <div class="hero-block">
      <h1 class="hero-block__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-block__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Suspendisse varius enim in eros elementum tristique. 
        Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, 
        ut commodo diam libero vitae erat.
      </p>
      <button class="hero-block__btn btn--animation" type="button" data-modal-open1>
        <span class="btn__list">
          <span class="btn__item"></span>
          <span class="btn__item"></span>
          <span class="btn__item"></span>
          <span class="btn__item"></span>
          Order Now
        </span>
      </button>
    </div>

    <div class="slider">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              srcset="
                ./images/hero/slide1-tabl-292@1x.png   292w,
                ./images/hero/slide1-tabl-584@2x.png   584w,
                ./images/hero/slide1-desk-528@1x.png   528w,
                ./images/hero/slide1-desk-1056@2x.png 1056w
              "
              sizes="(min-width: 1280px) 584px, (min-width: 768px) 292px"
              src="./images/hero/slide1-tabl-292@1x.png"
              alt="Food_photo"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./images/hero/slide2-tabl-292@1x.png   292w,
                ./images/hero/slide2-tabl-584@2x.png   584w,
                ./images/hero/slide2-desk-528@1x.png   528w,
                ./images/hero/slide2-desk-1056@2x.png 1056w
              "
              sizes="(min-width: 1280px) 584px, (min-width: 768px) 292px"
              src="./images/hero/slide2-tabl-292@1x.png"
              alt="Food_photo"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./images/hero/slide3-tabl-292@1x.png   292w,
                ./images/hero/slide3-tabl-584@2x.png   584w,
                ./images/hero/slide3-desk-528@1x.png   528w,
                ./images/hero/slide3-desk-1056@2x.png 1056w
              "
              sizes="(min-width: 1280px) 584px, (min-width: 768px) 292px"
              src="./images/hero/slide3-tabl-292@1x.png"
              alt="Food_photo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
