<section class="section hero" id="hero">
    
<div class="container hero-main">

      <div class="hero-block">
        <h1 class="hero-block__title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero-block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda tenetur ipsam atque quisquam animi quas vel 
          placeat neque exercitationem.Neque illo odit atque eligendi eos pariatur architecto fugiat repudiandae hic</p>
        <button class="hero-block__btn" type="button">Order Now</button>
      </div>

      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <p>slide</p></div>
          <div class="swiper-slide">
            <p>slide2</p></div>
          <div class="swiper-slide">
            <p>slide3</p></div>
        
        </div>
     
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      
      
      </div>
</div>
</section>
