<section class="section hero" id="hero">
  <div class="container hero-main">
    <div class="hero-block">
      <h1 class="hero-block__title _anim-items _anim-no-hide">
        Enjoy Your Favorite Food From Anywhere
      </h1>
      <p class="hero-block__text _anim-items _anim-no-hide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button
        class="hero-block__btn btn--animation _anim-items _anim-no-hide"
        type="button"
        aria-label="Order Now"
        data-modal-open1
      >
        <span class="btn__list">
          <span class="btn__item"></span>
          <span class="btn__item"></span>
          <span class="btn__item"></span>
          <span class="btn__item"></span>
          Order&nbsp;Now
        </span>
      </button>
    </div>

    <div class="slider">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper mySwiper swiper-border">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide1-desk-528@1x.webp  1x,
                  ./images/hero/slide1-desk-1056@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide1-tabl-292@1x.webp 1x,
                  ./images/hero/slide1-tabl-584@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide1-desk-528@1x.png  1x,
                  ./images/hero/slide1-desk-1056@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide1-tabl-292@1x.png 1x,
                  ./images/hero/slide1-tabl-584@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/hero/slide1-tabl-292@1x.png"
                loading="lazy"
                alt="menu novelty 1"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide2-desk-528@1x.webp  1x,
                  ./images/hero/slide2-desk-1056@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide2-tabl-292@1x.webp 1x,
                  ./images/hero/slide2-tabl-584@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide2-desk-528@1x.png  1x,
                  ./images/hero/slide2-desk-1056@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide2-tabl-292@1x.png 1x,
                  ./images/hero/slide2-tabl-584@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/hero/slide2-tabl-292@1x.png"
                loading="lazy"
                alt="menu novelty 2"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide3-desk-528@1x.webp  1x,
                  ./images/hero/slide3-desk-1056@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide3-tabl-292@1x.webp 1x,
                  ./images/hero/slide3-tabl-584@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/slide3-desk-528@1x.png  1x,
                  ./images/hero/slide3-desk-1056@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/slide3-tabl-292@1x.png 1x,
                  ./images/hero/slide3-tabl-584@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/hero/slide3-tabl-292@1x.png"
                loading="lazy"
                alt="menu novelty 3"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
