<section class="section offerings" id="offerings">
    <div class="container">
        <img/>
        <h2 class="section__title">What’s Special About Our Offerings</h2>
        <p class="offerings__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="offerings__list">
            <li class="offerings__item">
                <h3 class="offerings__subtitle"></h3>
                <p class="offerings__text"></p>
            </li>
            <li class="offerings__item">
                <h3 class="offerings__subtitle"></h3>
                <p class="offerings__text"></p>
            </li>
        </ul>
    </div>
</section>
