<section class="section subscribe" id="subscribe">
  <div class="container subscribe__main">
    <div class="subscribe__picture"></div>
    <div class="subscribe__wrapper">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>

      <form class="subscribe__form" name="subscribe-form">
        <div class="subscribe-form-email">
          <input
            class="subscribe-form-email__input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <p class="subscribe-form-email__alert">
            <svg class="subscribe-form-email__icon" width="11" height="11">
              <use href="./images/icon.svg#alert"></use>
            </svg>
            <span class="subscribe-form-email__alert-text"
              >Not a valid email address (example@email.com)</span
            >
          </p>
        </div>
        <button class="subscribe-form__btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
