<section class="section subscribe" id="subscribe">
  <div class="container subscribe-main">
    <div class="subscribe-content">
    <div class="subscribe-picture"></div>
 <div class="subscribe-block">
    <h2 class="subscribe-block__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe-block__txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <div class="subscribe-block-registration">
      <form class="subscribe-form" name="subscribe-form">
        <div class="subscribe-form-email">
        <input
          class="subscribe-form-email__input"
          type="email"
          name="email"
          placeholder="Enter your email"
          required/>
        <label class="subscribe-form-email__alert">
          <svg class="subscribe-form-email__icon" width="11" height="11">
            <use href="./images/icon.svg#alert"></use>
          </svg>
          <span class="subscribe-form-email__alert-text">Not a valid email address (example@email.com)</span>
        </label>
      </div>
        <button class="subscribe-form__btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  </div>
</div>
</section>
