.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity $anim-fast, visibility $anim-fast;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 30;

  width: 320px;
  width: 100%;
  height: 449px;
  padding: 32px 20px;
  background: $color-yellow;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;

  animation: heartBeat 2000ms ease-in-out 200ms both;
  
  @media screen and (min-width: 480px) {
    max-width: 458px;
    padding: 32px;
    margin: 0 auto;
  }

  // @include media-query(desktop) {
  //   max-width: 530px;
  // }

  .backdrop.is-hidden & {
    transform: translate(0px, -100%) scale(1.1);

    animation-play-state: paused;
  }
}

.modal-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 32px;
  height: 32px;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  background: $color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  fill: $color-black-second;
  transition: fill $cubic, box-shadow $cubic;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 12px;
    right: 12px;;
  }

  &:active {
    fill: $color-green-dark;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  }

  @include media-query(desktop) {
    &:hover,
    &:focus {
      fill: $color-green-dark;
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    }
  }
}

.register {
  text-align: center;
}

.register__title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: calc(29/ 24);
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-black-second;
}

.register__group {
  margin-bottom: 32px;
}

.register__wrap {
  position: relative;
  display: block;
  margin-bottom: 24px;

  height: 72px;

  &:last-child {
    margin-bottom: 0;
  }
}

.register__label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: left;
  // margin-bottom: 4px;
  padding-left: 10px;
}

.register__input {
  width: 100%;
  padding: 14px;
  padding-left: 40px;

  width: 100%;
  height: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  background-color: $color-white;
  border: 1px solid $color-green-dark;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  outline: transparent;

  transition: box-shadow $cubic;

    &:hover,
    &:focus {
      box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
    }
}

.register__input {
  &:not(:placeholder-shown):required:valid {
    border-color: $color-green-dark;
  }
  &:not(:placeholder-shown):required:invalid {
    border-color: $color-peach;
    & ~ .register__alert {
      opacity: 1;
    }
  }
}
.register__alert {
  opacity: 0;
}

.register__icon {
  position: absolute;
  bottom: 18px;
  left: 12px;

  transition: fill $color-yellow;
}

.register__input:focus-within + .register__icon {
  fill: $color-green-dark;
}

.register__btn {
  display: block;
  align-items: center;

  font-weight: 500;
  font-size: 13px;
  line-height: calc(20 / 13);
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-black-second;

  margin: 0 auto;
  width: 110px;
  height: 44px;
  padding: 10px 38px;
  background-color: $color-white;
  border-radius: 30px;
  border: 2px solid $color-green-dark;
  cursor: pointer;

  transition: background-color $cubic, box-shadow $cubic;



  @include media-query(desktop) {
    &:hover {
      border: 2px solid $color-olive;
      background-color: $cubic;
      box-shadow: 0 15px 10px 0 rgba(0,0,0,0.2);
    }
  }
}
