.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
 
    background-color: rgba(0, 0, 0, 0.2);
 
    transition: .3s all;
 }
 
 .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
 }

 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
 
    width: 450px;
    min-height: 606px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
 
    transition: 0.3s all;
    opacity: 1;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%);
    }

     @media screen and (max-width: 449px) {
      width: 100%;
      max-width: 450px;
     }


     @media screen and (min-width: 1280px) {
      width: 528px;
      min-height: 581px;
     }
    }

    .modal-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 25px;
        height: 25px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
     
        border: none;
        background-color: transparent;
        cursor: pointer;
    }