.customer {
   
    background-image: url("../images/customers/customersBg-mob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    // position: relative;

    @media screen and (min-width: 768px) {
        background-image: url("../images/customers/customersBg-tabl.svg");
    }

    @media screen and (min-width: 1280px) {
        background-image: url("../images/customers/customersBg-desk.svg");
    }
    

    &__title {
        text-align: left;
        @media screen and (min-width: 1280px){
            margin-left: 16px;
            margin-bottom: 20px;
        }
    }

    &__text {
        
        margin-bottom: 32px;

        @media screen and (min-width: $tablet) {
                font-size: 16px;
                line-height: calc(19 / 16);
            }
            @media screen and (min-width: 1280px){
                margin-left: 16px;

            }
     
        }


    
}


.review {
    
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 32px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        gap: 139px;
        margin-bottom: 200px;
    }


    &__item {
        padding: 8px;
        margin-left: auto;
        margin-right:auto;
        background-color: $color-white;
        margin-bottom: 24px;
        
       border-radius: 0 15px 15px;
    
       @media screen and (min-width: 768px){
        margin-bottom: 0px;
            }

        @media screen and (min-width: 1280px){
        margin-left: 16px;
            }
       }   

       &__item:nth-child(2) {
       @media screen and (min-width: 1280px){
        margin-right: 107px;
            }

       }   


}

.review__stars {
    fill: yellow;
    margin-bottom: 28px;
    @media screen and (min-width: 1280px){
        padding-top: 14px;
    }
    
}

.review__text {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(18 / 16);
    margin-bottom: 42px;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: calc(21 / 18 );
        font-weight: 700;
    }   
}

.person {
   
    border-right: 0.854167px solid #7EB101;
    max-width: 160px;

    display: flex;

   &__img {
    margin-right: 17px;

   

} 
}
.review__item--down {
    background-color: #ffffff;
    border-radius: 0 15px 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    @media screen and (min-width: 1280px){
        margin-right: 123px;
    }
}
.person__clients {
    margin-top: 10px;
    }

    .person__name {
        // color: #2c2c2c;
        // font-size: 14px;
        // font-weight: 500;
        // line-height: 1,5em;
        margin-bottom: 3px;

            @media screen and (min-width: $tablet){
                margin-bottom: 4px;
            }
        }
        // .person__desk {
        // color: #2c2c2c;
        // font-size: 14px;
        // font-weight: 400;
        // line-height: 1,5em;
        // display: inline;
        //  }