.customer {
   
    background-image: url("../images/customers/customersBg-mob.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    @media screen and (min-width: 768px) {
        background-image: url("../images/customers/customersBg-tabl.svg");
    }

    @media screen and (min-width: 1280px) {
        background-image: url("../images/customers/customersBg-desk.svg");
    }
    

    &__title {
        text-align: left;
    }

    &__text {
        
        margin-bottom: 32px;

        @include media-query(tablet) {
                font-size: 16px;
                line-height: calc(19 / 16);
            }
     }
    
}


.review {
    
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 32px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        gap: 139px;
    }


    &__item {
        padding: 8px;
    
        background-color: $color-white;
        margin-bottom: 24px;
        
       border-radius: 0% 10% 10% 10%;
    
       @media screen and (min-width: 768px){
        margin-bottom: 0px;
            }

       }   

       &__item:nth-child(2) {
       @media screen and (min-width: 1280px){
        margin-right: 107px;
            }

       }   


}

.review__stars {
    fill: yellow;
    margin-bottom: 28px;
    @media screen and (min-width: 1280px){
        padding-top: 14px;
    }
    
}

.review__text {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(18 / 16);
    margin-bottom: 42px;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: calc(21 / 18 );
        font-weight: 700;
    }   
}

.person {
   
    border-right: 0.854167px solid #7EB101;
    max-width: 160px;

    display: flex;

   &__img {
    margin-right: 17px;

    @include media-query(tablet){
        padding-left: 12px;
        padding-bottom: 14px;
    }
    @include media-query(desktop){
padding-left: 14px;
padding-bottom: 16px;

    }

}

 &__name {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 2px;
    
}
}



