.offerings {

    // padding-top: 0;
    // padding-bottom: 0;

    @include media-query(tablet) {

        padding-top: 150px;
        padding-bottom: 100px;

        margin-top: -108px;
    }

    @include media-query(desktop) {
         
        padding-top: 177px;
        padding-bottom: 43px;

        margin-top: -161px;
    }

         background-image: url(../images/offerings/bg-xs-1.svg);
         background-repeat: no-repeat;
         background-size: 100% 100%;

   @media screen and (min-width: 480px) {
    max-width: 100%;
    background-image: url(../images/offerings/bg-sm-1.svg);
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $tablet) {
      max-width: 100%;
      background-image: url(../images/offerings/bg-md-1.svg);
      background-repeat: no-repeat;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1920px;
    background-image: url(../images/offerings/bg-lg-1.svg);
    background-repeat: no-repeat;
}



    &__content {
        
            @include media-query(desktop) {
                display: flex;
                gap: 90px;
                align-items: center;
            }

    
}
}

.offerings__group {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    @include media-query(desktop) {
      margin: 0;
    }
}

.offerings__picture {
    display: block;
    margin-bottom: 60px;

    @include media-query(desktop){
        margin-bottom: 0;
    }
}

  .offerings__img {
      margin-right: auto;
      margin-left: auto;
  }

.offerings__thumb {
    margin-bottom: 28px;
    @include media-query(tablet) {
      width: 526px;
      margin-bottom: 40px;
    }
}

.offerings__title {
    margin-bottom: 28px;
    text-align: left;

    @include media-query(tablet) {
        margin-bottom: 20px;
    }
}

.offerings__desc {
    @include media-query(tablet) {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: calc(19 / 16);
    }

    @include media-query(tablet) {
        line-height: calc(24 / 16);
    }
}

.offerings__list {
    @extend %list;

    margin-bottom: 28px;
    @include media-query(tablet) {
      display: flex;
      margin-bottom: 40px;
    }
    @include media-query(desktop) {
      margin-bottom: 32px;
    }
}

.offerings__item {
    &:first-child {
        margin-bottom: 28px;
    }

    &::before {
        content: '';
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-bottom: 8px;
        background-color: $color-white;
    }

    @include media-query(tablet) {
        width: 252px;

        &:first-child {
            margin-bottom: 0;
            margin-right: 116px;
        }
    }

    @include media-query(desktop) {
        &:first-child {
            margin-right: 67px;
        }
    }
}

.offerings__delivery::before {
    background-image: url(../images/offerings/delivery.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.offerings__order::before {
    background-image: url(../images/offerings/order.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.offerings__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21 / 18);
    margin-bottom: 16px;
}

.offerings__text {
    // margin-bottom: 28px;

    // @include media-query(tablet) {
    //     margin-bottom: 40px;
    // }

    @include media-query(desktop) {
        line-height: calc(21 / 14);
    }
}

.offerings__btn {
    max-width: 154px;
    height: 40px;
    padding: 10px 22px;

    background: $color-white ;
    border: 2px solid $color-green-dark;
    border-radius: 30px;

    margin-right: 24px;
    cursor: pointer;

    &:hover {
        @include media-query(desktop) {
            border: 2px solid $color-olive;
        }
    }
}

.offerings__link {
    @extend %link;
    position: relative;
    line-height: calc(20 / 14);
    color: $color-black;
    margin-right: 8px;

    &__icon-link {
        position: absolute;
        top: 7px;
        left: 73px;
        color: $color-black;
    }

    @include media-query(desktop) {
        display: none;
    }
}

