.offerings {
    max-width: 1280px;
    padding-top: 70px;
    padding-bottom: 60px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.offerings__group {
    @media screen and (min-width: 1280px) {
        display: flex;
        gap: 90px;
        justify-content: center;
        align-items: center;
    }
}

.offerings__img {
    margin-bottom: 60px;
}

.offerings__img-list {
    display: none;
}

.offerings__title {
    margin-bottom: 28px;
    text-align: left;
    max-width: 280px;

    @media screen and (min-width: 768px) {
        max-width: 526px;
        margin-bottom: 20px;
    }
}

.offerings__desc {
    margin-bottom: 28px;

    @media screen and (min-width: 768px) {
        max-width: 500px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: calc(19 / 16);
    }

    @media screen and (min-width: 768px) {
        line-height: calc(24 / 16);
    }
}

.offerings__list {
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 116px;
    }
}

.offerings__icon {
    margin-bottom: 8px;
}

.offerings__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21 / 18);
    margin-bottom: 16px;
}

.offerings__text {
    margin-bottom: 28px;
    max-width: 252px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        line-height: calc(21 / 14);
    }
}

.offerings__btn {
    max-width: 154px;
    height: 40px;
    padding: 10px 22px;

    background: $color-white ;
    border: 2px solid $color-green-dark;
    border-radius: 30px;

    margin-right: 24px;

    &:hover {
        @media screen and (min-width: 1280px) {
            border: 2px solid $color-olive;
        }
    }
}

.offerings__link {
    @extend %link;
    position: relative;
    line-height: calc(20 / 14);
    color: $color-black;
    margin-right: 8px;

    &__icon-link {
        position: absolute;
        top: 7px;
        left: 73px;
        color: $color-black;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}
