//Subscribe styles
.subscribe {
    padding-top: 0;
}
.subscribe-main {
    @media screen and (min-width: 1280px){
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
   

    }
}
.subscribe-picture {
  
    margin-bottom: 17px;

    @media screen and (min-width: 768px){
        display: flex;
        justify-content: end;

    }
    @media screen and (min-width: 1280px){
        margin-bottom: 0;
        min-width: 608px;
    }
}
.subscribe-block {
    @media screen and (min-width: 1280px){
    display: block;

    max-width: 656px;

 
    
}
}
.subscribe__title {
    margin-bottom: 20px;
    font-weight: 700;
font-size: 28px;
line-height: calc(34 / 28);

@media screen and (min-width: 768px){
    font-size: 42px;
    line-height: calc(50 / 42);
}
}

.subscribe__txt {
    margin-bottom: 40px;

    @media screen and (min-width: 768px){
        font-size: 16px;
        line-height: calc(24 / 16);
        margin-bottom: 24px;

    }
}
.subscribe-form {
    display: block;
    text-align: right;
    @media screen and (min-width: 768px){
        text-align: left;
    }

}

.subscribe-form__input {

    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;

    width: 100%;
    height: 42px;
    background-color: $color-white;
    border: 0.854167 solid $color-yellow;
    border-radius: 30px;
    outline: transparent;
  font-size: 12px;
  line-height: calc(18 / 12);

    @media screen and (min-width: 768px){
        width: 394px;  
        margin-bottom: 0;
    }

    &:not(:placeholder-shown):required:valid {
        border: 0.854167 solid $color-green-dark;
        background-color: transparent;  
      }
      &:not(:placeholder-shown):required:invalid {
        border: 0.854167 solid $color-peach;
        background-color: transparent;
       
}
}


.subscribe-form__btn {
    display: inline-block;
   padding: 11px 22px;
    width: 103px;
    height: 42px;

    background-color: $color-green;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20 / 13);

    cursor: pointer;

    @media screen and (min-width: 768px){
        margin-left: 22px;  
    }

    &:hover,
    &:focus {
      background-color:$color-green-accent;
    }
  
  }